<div class="w3-sidebar w3-bar-block blue-grey darken-2" style="width: 15em; z-index: 1;">
    <div (click)="goBack()" class="scale-transition waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</div>
    <a *ngFor="let file of fileList"
       href="#" 
       class="w3-bar-item"
       title="{{file.path}}">
      <p
        class="waves-effect waves-light btn teal darken-1"
        [ngClass]="{'btn-flat': false}"
        id="file-{{file.id}}"
        style="width: 100%; text-align: left; padding-left: 15px;"
        (click)="change_active($event, file)">
        {{ file.display_name }}
      </p>
    </a>
  </div>