<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- for recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title> {% block title %} ACME Workbench {% endblock %}</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    {% load staticfiles %}
      <link rel="shortcut icon" href="{% static "media/favicon.ico"   %}">
    {% block extra_headers %} {% endblock %}
  </head>

  <body role="document" class="day">
    <nav>
      <div class="nav-wrapper blue-grey darken-4">
        <a href="/" style="margin-left: 2vw;" class="brand-logo">ACME</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="dashboard-link"><a style="color: #64b5f6" href="#">Dashboard</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-right"><a style="color: #64b5f6" href="/logout">Log Out</a></li>
          {% else %}
          <li class="navbar-right"><a style="color: #64b5f6" href="/login?next={% url 'index' %}">Welcome Guest</a></li>
          <li class="navbar-right"><a style="color: #64b5f6" href="/login?next={% url 'index' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>


    <div id="mail-container" role="main">
      {% block content %}

      {% endblock %}
    </div>
    {% block layout %}
    {% endblock %}


  </body>
  {% block footer %}
  {% endblock %}
</html>
