{% extends "base.html" %}
{% block title %} logout {% endblock %}

{% block content %}
<button class="btn btn-lg btn-primary btn-block" type="submit" name="logout" value="logout">Log Out</button>
{% endblock %}

{% block footer %}
    <footer class="page-footer blue-grey darken-4" style="padding-bottom: 1.5vh; padding-top: 2vh; margin-top: 0px; bottom: 0px; position: fixed; width: 100%;">
      <a class="valign" style="color: #64b5f6; margin-left: 2vw;" href="/privacy_policy">Privacy &amp; Legal Notice</a> &nbsp;
    </footer>
{% endblock %}
