{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block content %}
  {% load addattributes %}

  {% if registered %}
    <h2>Thank You For Registering!</h2>
    <p><a class="btn wave-effect" href="/workbench" role="button">workbench</a></p>
  {% else %}
    <div class="container">
      <form id="user_form" action="" method="post" class="form-signin">
        <h2>Create An Account</h2>
        {% csrf_token %} 
        {% for field in user_form %}
          {% if field.errors %}
            {% with attr="input-field invalid" %} 
              {{ field|addattributes:attr|safe}} 
            {% endwith %}  
            <div>
              {{ field.errors }}
            </div>
          {% else %}
            {% with attr="input-field" %} 
              {{ field|addattributes:attr|safe}} 
            {% endwith %}
          {% endif %}
        {% endfor %}
        <br/>
        <button class="btn" type="submit">Create Account</button>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
    <footer class="page-footer blue-grey darken-4" style="padding-bottom: 1.5vh; padding-top: 2vh; margin-top: 0px; bottom: 0px; position: fixed; width: 100%;">
      <a class="valign" style="color: #64b5f6; margin-left: 2vw;" href="/privacy_policy">Privacy &amp; Legal Notice</a> &nbsp;
    </footer>
{% endblock %}
