<div id="data-import-modal" 
     class="modal modal-fixed-footer" 
     materialize="modal" 
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalActions">
    <div *ngIf="!selected_type">
        <h3 style="margin-left: 3em; margin-right: 3em; margin-top: 1em; margin-bottom: 1em">
            Select source
        </h3>
        <p *ngFor="let import_type of import_types" >
            <a href="#"
               (click)="import_select(import_type)"
               class="btn"
               style="margin-left: 3em; margin-bottom: 1em">
                {{ import_type }}
            </a>
        </p>
    </div>
    <div *ngIf="selected_type == 'Upload'"
         class="import-wrapper">
        <data-import-upload [uploader]="uploader"></data-import-upload>
    </div>
    <div *ngIf="selected_type == 'Globus'"
         class="import-wrapper">
        <data-import-globus></data-import-globus>
    </div>
     
    <div class="modal-footer">
        <a href="#"
           class="waves-effect waves-green btn left"
           *ngIf="selected_type"
           (click)="back()">
            back
        </a>
        <a href="#" 
           class="modal-action modal-close waves-effect waves-green btn">
            close
        </a>
    </div>
</div>
