<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    
    html, body { height: 100%; }
</style>
<div id="data-import-modal" 
     class="modal modal-fixed-footer" 
     materialize="modal" 
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalActions">
    <div *ngIf="!selected_type">
        <h3 style="margin-left: 3em; margin-top: 1em; margin-bottom: 1em">
            Select source
        </h3>
        <p *ngFor="let import_type of import_types" >
            <a href="#"
               (click)="import_select(import_type)"
               class="btn"
               style="margin-left: 3em; margin-bottom: 1em">
                {{ import_type }}
            </a>
        </p>
    </div>
    <div *ngIf="selected_type == 'Upload'"
         style="margin-left: 3em; margin-top: 1em; margin-bottom: 1em">
        <form action="">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Dataset</span>
                    <input type="file"
                            ng2FileSelect 
                            [uploader]="uploader" 
                            multiple  />
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
        </form>
        <div ng2FileDrop
            *ngIf="uploader?.queue?.length == 0"
            [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"   
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            style="padding: 20px"             
            class="well my-drop-zone">
            Drop Dataset Here
        </div>
        <div *ngIf="uploader?.queue?.length > 0">
            <p *ngFor="let item of uploader.queue">{{ item?.file?.name }}</p>
            <div class="input-field col s12">
                <select id="dataset_select" materialize="material_select" [(ngModel)]="selected_dataset_name">
                    <option value="" disabled selected>Add to dataset</option>
                    <option value="new_dataset" (click)="onSelectedNew()">Create New</option>
                    <option *ngFor="let dataset of datasets" value="{{dataset.name}}" (click)="onSelected(dataset)">{{dataset.name}}</option>
                </select>
            </div>
            <input *ngIf="selected_dataset_name == 'new_dataset'" class="" placeholder="Create New Dataset" type="text" [(ngModel)]="datasetName" >
            <p *ngIf="errorMessage" class="red-text">{{ errorMessage }}</p>
            <a href="#" class="btn waves-effect waves-light" (click)="startUpload()">Add to queue</a>
        </div>
    </div>
     
    <div class="modal-footer">
        <a href="#"
           class="waves-effect waves-green btn left"
           *ngIf="selected_type"
           (click)="back()">
            back
        </a>
        <a href="#" 
           class="modal-action modal-close waves-effect waves-green btn">
            close
        </a>
    </div>
</div>
