<workbench-sidebar class="" (change)="change_active($event)"></workbench-sidebar>
<div style="margin-left: 15em; display: inline-block;" id="workbench-content">
  <run-manager *ngIf="active_component == 'sidebar-RunManager'"></run-manager>
  <data-manager *ngIf="active_component == 'sidebar-DataManager'"></data-manager>
  <vis-manager *ngIf="active_component == 'sidebar-Visualizations'"></vis-manager>
  <notification-manager *ngIf="active_component == 'sidebar-Notifications'"></notification-manager>
  <settings *ngIf="active_component == 'sidebar-Settings'"></settings>
</div>
